# Ignore the .dist Folder
.dist

# Ignore the .vscode Folder
.vscode

# Ignore the /build Folder
/build

# Ignore the cmake-build-debug Folder
cmake-build-debug

# Ignore the .vs Folder
.vs

# Ignore the /out Folder
/out

# Ignore the .idea Folder
.idea

# Ignore .DS_Store Files
.DS_Store